
.blog-banner{
    position: relative;
}
.img-blog-banner{
    width: 100%;
}
.blog-caption{
    position: absolute;
    top: 45%;
    left: 45%;
}
.blog-caption h2{
    font-family: 'barlow_semiboldregular';
    font-size: 80px;
    text-align: center;
    color: #fff;
}
.img-blog-caption{
    width: 100%;
}
.blog{
    position: relative;
    padding-top: 5%;
    padding-bottom: 5%;
}
.blog-caption-1{
    border: 1.5px solid #ecebef;
    padding: 5%;
    cursor: pointer; 
}
.blog-caption-1:hover{
    transition: 0.3s ease-in;
    box-shadow: 0px 0px 30px  #ecebef;
}
a:hover{
    text-decoration: none;
}
.blog-caption-1 h4{
    font-family: 'barlowbold';
    color: #273684;
    font-size: 28px;
    padding-top: 5%;
}
.blog-caption-1 p{
    font-family: 'barlowregular';
    color: #20192B;
    font-size: 16px;
    padding-top: 2%;
}
.blog-details{
    padding-top: 5%;
    padding-bottom: 5%;
}
.blog-details h3{
    font-family: 'barlowbold';
    color: #273684;
    font-size: 42px;
    text-align: center;
}
.blog-details h4{
    font-family: 'barlowbold';
    color: #273684;
    font-size: 38px;
    padding-top: 3%;
    text-align: center;
}
.blog-details h5{
    font-family: 'barlowregular';
    color: #20192B;
    text-align: center;
    font-size: 16px;
    padding-top: 2%;
}
.blog-details p{
    font-family: 'barlowregular';
    color: #20192B;
    text-align: center;
    font-size: 16px;
    padding-top: 2%;
}