@charset "utf-8";

.nav.ml-auto > li:first-child .nav-link {
    text-transform: uppercase;
}

#about-five,
#about-four,
#about-one,
#about-six,
#about-three,
#about-two {
	display: none;
	margin-top: -1%;
	padding: 0;
	border-bottom: 1px solid #eee;
	margin-bottom: 5%
}

#about-seven {  
	display: none;
	margin-top: 5%;
	padding: 0;
	border-bottom: 1px solid #eee
}

#about-eight {
	display: none;
	margin-top: -9%;
	padding: 0;
	border-bottom: 1px solid #eee;
	margin-bottom: -1%
}

#about1,
#about2 {
	margin-top: 0;
	margin-bottom: 5%
}

#about3 {
	margin-top: -5%;
	margin-bottom: 0
}
@media(max-width:575px) {


	.btn.btn-info {
    font-size: 8px !important;

}

}

@media screen and (max-width:2560px) {
	.container {
		max-width: 2300px
	}

	.home-caption h1 {
		font-size: 150px !important
	}

	.call-us {
		font-size: 24px
	}

	.btn.btn-info {
		font-size: 22px
	}

	.fixed-top {
		top: 70px
	}

	.home-caption p {
		font-size: 45px !important;
		padding-bottom: 10% !important
	}

	.know-more-btn-banner {
		font-size: 25px !important
	}

	.nav-link {
		font-size: 26px !important
	}

	.dropdown-item {
		font-size: 20px !important;
		line-height: 300% !important
	}

	.dropdown-subitem {
		font-size: 20px !important;
		line-height: 250% !important
	}

	.home-school-type h2 {
		padding-top: 10% !important;
		font-size: 34px !important
	}

	.know-more-btn {
		font-size: 20px !important
	}

	.home-school-type h3 {
		padding-top: 15% !important;
		font-size: 34px !important
	}

	.know-more-btn-div {
		font-size: 20px !important
	}

	.home-about-para h4 {
		font-size: 70px !important
	}

	.home-about-list {
		font-size: 30px !important
	}

	.know-more-btn-about {
		font-size: 20px !important;
		padding-left: 5% !important;
		padding-right: 5% !important
	}

	.team-title {
		font-size: 80px !important
	}

	.team-para {
		font-size: 28px !important;
		padding-bottom: 10% !important
	}

	.text {
		font-size: 20px !important;
		top: 50% !important;
		left: 49% !important
	}

	.know-more-btn-black {
		padding: 4% !important;
		font-size: 20px !important;
		padding-left: 8% !important;
		padding-right: 8% !important
	}

	.home-testimonial .title {
		font-size: 60px !important
	}

	.testimonial p {
		font-size: 22px !important
	}

	.testimonial_control {
		bottom: 1px !important
	}

	.carousel .item {
		min-height: 300px !important
	}

	.testimonial p {
		font-size: 27px !important
	}

	.footer .footer-para {
		font-size: 22px !important
	}

	.footer .footer-title {
		font-size: 35px !important
	}

	.footer .footer-link {
		font-size: 22px !important
	}

	.footer .footer-time {
		font-size: 22px !important
	}

	.logo-footer {
		padding-top: 11% !important
	}

	.sumbit-btn {
		font-size: 20px !important
	}

	.footer img {
		margin-top: -1% !important
	}

	.footer-copyright {
		font-size: 20px !important
	}

	.footer-copyright a {
		font-size: 20px !important
	}

	.carousel .media img {
		width: 150px !important;
		height: 150px !important
	}

	.our-centre-caption {
		font-size: 120px !important;
		top: 42% !important;
		left: 14% !important;
		line-height: 130px !important
	}

	.our-centre-para {
		font-size: 30px !important
	}

	.our-centre-middle .title {
		font-size: 35px !important
	}

	.our-centre-middle .our-centre-image-overlay h3 {
		font-size: 70px !important
	}

	.our-centre-middle .our-centre-image-overlay p {
		font-size: 26px !important;
		margin-top: 5% !important
	}

	.our-centre-middle .our-centre-image {
		width: 89% !important;
		padding-top: 10% !important;
		padding-right: 0 !important;
		height: 90% !important
	}

	.rft-img {
		padding-bottom: 17% !important;
		padding-top: 0
	}

	.our-centre-text p {
		font-size: 30px !important
	}

	.our-centre-text {
		top: 24% !important;
		left: 13% !important
	}

	.testimonial-div .para {
		font-size: 23px !important
	}

	.testimonial-title {
		margin-bottom: -5% !important;
		font-size: 24px !important
	}

	.blue-bg {
		padding-top: 0;
		padding-bottom: 2%
	}

	.frmm::-webkit-input-placeholder {
		font-size: 22px
	}

	.footer-hr {
		width: 74%;
		margin-left: 0
	}

	.preschool-subdesc {
		font-size: 23px;
		padding-left: 10%;
		padding-right: 10%
	}

	.contact-lft {
		height: 600px;
		padding: 12%;
		padding-top: 6%
	}

	.stay-AC-know-more-btn {
		margin-top: -3%;
		margin-left: -83%
	}

	@media screen and (max-width:1920px) {
		.frmm::-webkit-input-placeholder {
			font-size: 17px
		}

		.container {
			max-width: 1700px
		}

		.footer-hr {
			width: 100%
		}

		.nav-link {
			font-size: 22px !important
		}

		.call-us {
			font-size: 20px
		}

		.btn.btn-info {
			font-size: 19px
		}

		.fixed-top {
			top: 60px
		}

		.dropdown-item {
			font-size: 18px !important;
			line-height: 300% !important
		}

		.dropdown-subitem {
			font-size: 17px !important;
			line-height: 250% !important
		}

		.home-caption h1 {
			font-size: 110px !important
		}

		.home-caption p {
			font-size: 35px !important;
			padding-bottom: 10% !important
		}

		.know-more-btn-banner {
			font-size: 20px !important
		}

		.home-school-type h2 {
			padding-top: 12% !important;
			font-size: 32px !important
		}

		.know-more-btn {
			font-size: 18px !important
		}

		.home-school-type h3 {
			padding-top: 20% !important;
			font-size: 32px !important
		}

		.know-more-btn-div {
			font-size: 18px !important
		}

		.home-about-para h4 {
			font-size: 60px !important
		}

		.home-about-list {
			font-size: 27px !important;
			padding-top: 1%
		}

		.know-more-btn-about {
			font-size: 18px !important;
			padding-left: 5% !important;
			padding-right: 5% !important
		}

		.team-title {
			font-size: 70px !important
		}

		.team-para {
			font-size: 22px !important;
			padding-bottom: 10% !important
		}

		.know-more-btn-black {
			padding: 4% !important;
			font-size: 18px !important;
			padding-left: 8% !important;
			padding-right: 8% !important
		}

		.home-testimonial .title {
			font-size: 50px !important
		}

		.testimonial p {
			font-size: 24px !important
		}

		.carousel .media img {
			width: 130px !important;
			height: 130px !important
		}

		.footer .footer-title {
			font-size: 30px !important
		}

		.footer .footer-para {
			font-size: 20px !important
		}

		.footer .footer-link {
			font-size: 20px !important
		}

		.footer .footer-time {
			font-size: 20px !important
		}

		.sumbit-btn {
			font-size: 18px !important
		}

		.footer-copyright {
			font-size: 18px !important
		}

		.footer-copyright a {
			font-size: 18px !important
		}

		.our-centre-caption {
			font-size: 90px !important;
			top: 39% !important;
			left: 14% !important;
			line-height: 100px !important
		}

		.our-centre-para {
			font-size: 24px !important
		}

		.our-centre-middle .title {
			font-size: 30px !important
		}

		.our-centre-middle .our-centre-image-overlay h3 {
			font-size: 55px !important
		}

		.our-centre-middle .our-centre-image-overlay p {
			font-size: 24px !important;
			margin-top: 5% !important
		}

		.rft-img {
			padding-bottom: 12% !important;
			padding-top: 0 !important
		}

		.our-centre-middle .our-centre-image {
			width: 89% !important;
			padding-top: 12% !important;
			padding-right: 0 !important;
			height: 96% !important
		}

		.our-centre-text p {
			font-size: 27px !important
		}

		.our-centre-text img {
			padding: 7% !important;
			padding-top: 2% !important;
			width: 22% !important
		}

		.testimonial-div .para {
			font-size: 20px !important
		}

		.testimonial-title {
			margin-bottom: -4% !important;
			font-size: 22px !important;
			padding-top: 4% !important
		}

		.contact-lft {
			height: 600px;
			padding: 10%;
			padding-top: 8%;
			font-size: 0
		}

		.home-about-para {
			padding: 4%;
			padding-top: 2%
		}

		.contact {
			padding-top: 2%
		}

		.accordion {
			font-size: 19px;
			margin-bottom: 2%
		}

		.stay-AC-know-more-btn {
			margin-top: 4%;
			margin-left: -80%
		}
	}

	@media screen and (max-width:1600px) {
		.container {
			max-width: 1410px
		}

		.call-us {
			font-size: 16px
		}

		.btn.btn-info {
			font-size: 16px
		}

		.fixed-top {
			top: 53px
		}

		.preschool-subdesc {
			font-size: 18px
		}

		.nav-link {
			font-size: 20px !important
		}

		.dropdown-item {
			font-size: 16px !important;
			line-height: 270% !important
		}

		.dropdown-subitem {
			font-size: 16px !important;
			line-height: 230% !important
		}

		.home-caption h1 {
			font-size: 90px !important
		}

		.home-caption p {
			font-size: 30px !important;
			padding-bottom: 10% !important
		}

		.know-more-btn-banner {
			font-size: 18px !important
		}

		.home-school-type h2 {
			padding-top: 15% !important;
			font-size: 30px !important
		}

		.know-more-btn {
			font-size: 16px !important
		}

		.home-school-type h3 {
			padding-top: 26% !important;
			font-size: 30px !important
		}

		.know-more-btn-div {
			font-size: 16px !important
		}

		.home-about-para h4 {
			font-size: 42px !important
		}

		.toddler-para {
			font-size: 20px;
			padding-top: 1%
		}

		.toddle-list {
			font-size: 20px
		}

		.home-about-list {
			font-size: 22px !important
		}

		.know-more-btn-about {
			font-size: 16px !important;
			padding-left: 5% !important;
			padding-right: 5% !important
		}

		.team-title {
			font-size: 55px !important
		}

		.team-para {
			font-size: 18px !important;
			padding-bottom: 10% !important
		}

		.know-more-btn-black {
			padding: 4% !important;
			font-size: 16px !important;
			padding-left: 8% !important;
			padding-right: 8% !important
		}

		.text {
			font-size: 20px !important;
			top: 55% !important;
			left: 49% !important;
			width: 50% !important
		}

		.home-testimonial .title {
			font-size: 42px !important
		}

		.testimonial p {
			font-size: 20px !important
		}

		.testimonial_control {
			bottom: 55px !important
		}

		.footer .footer-title {
			font-size: 24px !important
		}

		.footer .footer-para {
			font-size: 16px !important
		}

		.footer .footer-link {
			font-size: 16px !important
		}

		.footer .footer-time {
			font-size: 16px !important
		}

		.sumbit-btn {
			font-size: 17px !important
		}

		.footer-copyright {
			font-size: 16px !important
		}

		.footer-copyright a {
			font-size: 16px !important
		}

		.our-centre-caption {
			font-size: 78px !important;
			top: 40% !important;
			left: 12% !important;
			line-height: 80px !important
		}

		.our-centre-para {
			font-size: 20px !important
		}

		.our-centre-middle .title {
			font-size: 26px !important
		}

		.our-centre-middle .our-centre-image-overlay h3 {
			font-size: 48px !important
		}

		.our-centre-middle .our-centre-image-overlay p {
			font-size: 20px !important;
			margin-top: 5% !important
		}

		.our-centre-text p {
			font-size: 24px !important
		}

		.our-centre-text img {
			padding: 7% !important;
			padding-top: 2% !important;
			width: 20% !important
		}

		.our-centre-text {
			top: 30% !important;
			left: 18% !important
		}

		.testimonial-div .para {
			font-size: 18px !important
		}

		.testimonial-title {
			margin-bottom: -8% !important;
			font-size: 19px !important;
			padding-top: 6% !important
		}

		.contact {
			padding-top: 20%
		}

		.contact .accordion {
			font-size: 18px;
			margin-bottom: 2%
		}

		.gallery {
			padding-top: 18%;
			padding-bottom: 5%
		}

		.stay-AC-know-more-btn {
			margin-top: 2%;
			margin-left: -78%
		}
	}

	@media screen and (max-width:1440px) {
		.frmm::-webkit-input-placeholder {
			font-size: 15px
		}

		.home-caption {
			top: 50% !important;
			left: 20% !important
		}

		.container {
			max-width: 1160px
		}

		.nav-link {
			font-size: 17px !important
		}

		.fixed-top {
			top: 50px
		}

		.dropdown-item {
			font-size: 15px !important;
			line-height: 270% !important
		}

		.stay-AC-know-more-btn {
			margin-top: 3%;
			margin-left: -74%
		}

		.dropdown-subitem {
			font-size: 14px !important;
			line-height: 230% !important
		}

		.home-caption h1 {
			font-size: 80px !important
		}

		.home-caption p {
			font-size: 30px !important;
			padding-bottom: 10% !important
		}

		.know-more-btn-banner {
			font-size: 30px !important
		}

		.home-school-type h2 {
			padding-top: 20% !important;
			font-size: 25px !important
		}

		.home-school-type h3 {
			padding-top: 30% !important;
			font-size: 25px !important
		}

		.home-about-para h4 {
			font-size: 34px !important;
			padding-top: 0
		}

		.toddler-para {
			font-size: 16px;
			padding-top: 5%
		}

		.toddle-list {
			font-size: 16px
		}

		.home-about-list {
			font-size: 18px !important
		}

		.know-more-btn-about {
			font-size: 14px !important;
			padding-left: 5% !important;
			padding-right: 5% !important
		}

		.team-title {
			font-size: 45px !important
		}

		.team-para {
			font-size: 16px !important;
			padding-bottom: 10% !important
		}

		.know-more-btn-black {
			padding: 4% !important;
			font-size: 14px !important;
			padding-left: 8% !important;
			padding-right: 8% !important
		}

		.home-testimonial .title {
			font-size: 40px !important
		}

		.testimonial p {
			font-size: 16px !important
		}

		.carousel .media img {
			width: 100px !important;
			height: 100px !important
		}

		.carousel .item {
			min-height: 200px !important
		}

		.testimonial_control {
			bottom: 1px !important
		}

		.footer .footer-title {
			font-size: 22px !important
		}

		.footer .footer-para {
			font-size: 14px !important
		}

		.footer .footer-link {
			font-size: 14px !important
		}

		.footer .footer-time {
			font-size: 14px !important
		}

		.sumbit-btn {
			font-size: 16px !important
		}

		.footer-copyright {
			font-size: 14px !important
		}

		.footer-copyright a {
			font-size: 14px !important
		}

		.our-centre-caption {
			font-size: 58px !important;
			top: 48% !important;
			left: 18% !important;
			line-height: 65px !important
		}

		.gallery {
			padding-top: 22%;
			padding-bottom: 5%
		}

		.our-centre-para {
			font-size: 18px !important
		}

		.our-centre-middle .title {
			font-size: 22px !important
		}

		.our-centre-middle .our-centre-image-overlay h3 {
			font-size: 44px !important
		}

		.our-centre-middle .our-centre-image-overlay p {
			font-size: 18px !important;
			margin-top: 5% !important
		}

		.our-centre-text p {
			font-size: 20px !important
		}

		.testimonial-div .para {
			font-size: 17px !important
		}

		.testimonial-title {
			margin-bottom: -8% !important;
			font-size: 18px !important;
			padding-top: 6% !important
		}

		.contact-lft {
			height: 600px;
			padding: 8%;
			padding-top: 7%;
			font-size: 0
		}

		tbody {
			font-size: 16px
		}

		.contact .accordion {
			font-size: 15px;
			margin-bottom: 2%
		}
	}

	@media screen and (max-width:1280px) and (max-height:1024px) {
		.container {
			max-width: 1140px
		}

		.nav-link {
			font-size: 16px !important
		}

		.dropdown-item {
			font-size: 14px !important;
			line-height: 270% !important
		}

		.dropdown-subitem {
			font-size: 13px !important;
			line-height: 250% !important
		}

		.home-caption h1 {
			font-size: 70px !important
		}

		.home-caption p {
			font-size: 22px !important;
			padding-bottom: 7% !important
		}

		.home-caption {
			top: 35% !important;
			left: 20% !important
		}

		.know-more-btn-banner {
			font-size: 13px !important
		}

		.home-school-type h2 {
			padding-top: 22% !important;
			font-size: 25px !important
		}

		.know-more-btn {
			font-size: 15px !important
		}

		.home-school-type h3 {
			padding-top: 32% !important;
			font-size: 25px !important
		}

		.know-more-btn-div {
			font-size: 15px !important
		}

		.home-about-para h4 {
			font-size: 35px !important
		}

		.home-about-list {
			font-size: 18px !important;
			padding-bottom: 2%
		}

		.know-more-btn-about {
			font-size: 15px !important;
			padding-left: 5% !important;
			padding-right: 5% !important
		}

		.team-title {
			font-size: 40px !important
		}

		.team-para {
			font-size: 14px !important;
			padding-bottom: 8% !important
		}

		.home-testimonial .title {
			font-size: 38px !important
		}

		.carousel .media img {
			width: 80px !important;
			height: 80px !important
		}

		.footer .footer-title {
			font-size: 20px !important
		}

		.footer .footer-para {
			font-size: 13px !important
		}

		.footer .footer-link {
			font-size: 13px !important
		}

		.footer .footer-time {
			font-size: 13px !important
		}

		.sumbit-btn {
			font-size: 14px !important
		}

		.our-centre-caption {
			font-size: 60px !important;
			top: 30% !important;
			left: 14% !important;
			line-height: 70px !important
		}

		.our-centre-middle .our-centre-image-overlay h3 {
			font-size: 44px !important
		}

		.our-centre-middle .our-centre-image-overlay p {
			font-size: 17px !important;
			margin-top: 5% !important
		}

		.our-centre-middle .our-centre-image {
			width: 90% !important;
			padding-top: 12% !important;
			padding-right: 0 !important;
			height: 97% !important
		}

		.rft-img {
			padding-bottom: 6% !important;
			padding-top: 0 !important
		}

		.dropdown-subitem {
			font-size: 13px !important;
			line-height: 230% !important
		}

		.preschool-subdesc {
			font-size: 16px
		}

		.contact {
			padding-top: 20%
		}

		.toddler-para {
			font-size: 16px;
			padding-top: 2%
		}

		.home-about-para {
			padding: 4%;
			padding-top: 2%;
			padding-bottom: 1%
		}
	}

	@media screen and (max-width:1280px) and (max-height:610px) {
		.container {
			max-width: 1140px
		}

		.nav-link {
			font-size: 17px !important
		}

		.home-caption {
			top: 56% !important;
			left: 20% !important
		}

		.stay-AC-know-more-btn {
			margin-top: -3%;
			margin-left: -75%
		}

		.dropdown-item {
			font-size: 13px !important;
			line-height: 250% !important
		}

		.dropdown-subitem {
			font-size: 13px !important;
			line-height: 230% !important
		}

		.home-caption h1 {
			font-size: 70px !important
		}

		.know-more-btn {
			font-size: 14px !important
		}

		.home-about-para h4 {
			font-size: 40px !important;
			padding-top: 0
		}

		.know-more-btn-div {
			font-size: 14px !important
		}

		.team-para {
			font-size: 16px !important;
			padding-bottom: 5% !important
		}

		.logo-footer {
			padding-top: 25% !important
		}

		.our-centre-caption {
			font-size: 60px !important;
			top: 50% !important;
			left: 15% !important;
			line-height: 64px !important
		}

		.gallery {
			padding-top: 22%;
			padding-bottom: 5%
		}

		.our-centre-middle .title {
			font-size: 20px !important
		}

		.our-centre-middle .our-centre-image-overlay h3 {
			font-size: 38px !important
		}

		.our-centre-middle .our-centre-image-overlay p {
			font-size: 16px !important;
			margin-top: 5% !important
		}

		.testimonial-div .para {
			font-size: 16px !important
		}

		.testimonial-div .para {
			font-size: 16px !important
		}

		.owl-theme .owl-nav.disabled+.owl-dots {
			bottom: -1% !important
		}

		.contact {
			padding-top: 22%
		}
	}

	@media screen and (max-width:1240px) {
		.container {
			max-width: 1100px
		}

		.footer-copyright {
			font-size: 12px !important
		}

		.infant-data {
			top: 90% !important
		}

		.home-caption {
			top: 40% !important
		}

		.share-your-story-heading {
			font-size: 33px !important
		}

		.dropdown-subitem {
			font-size: 12px !important;
			line-height: 230% !important
		}

		.carousel .media img {
			width: 70px !important;
			height: 70px !important
		}

		.team-para {
			font-size: 14px !important;
			padding-bottom: 5% !important
		}

		.home-about-list {
			font-size: 18px !important
		}

		.sumbit-btn {
			font-size: 15px !important
		}

		.footer .footer-title {
			font-size: 20px !important
		}

		.footer .footer-para {
			font-size: 13px !important
		}

		.footer .footer-link {
			font-size: 13px !important
		}

		.footer .footer-time {
			font-size: 13px !important
		}

		.our-centre-caption {
			font-size: 60px !important;
			top: 46% !important;
			left: 9% !important;
			line-height: 64px !important
		}

		.our-centre-para {
			font-size: 17px !important
		}

		.our-centre-middle .title {
			font-size: 19px !important
		}

		.our-centre-middle .our-centre-image-overlay h3 {
			font-size: 38px !important
		}

		.our-centre-middle .our-centre-image-overlay p {
			font-size: 15px !important;
			margin-top: 5% !important
		}

		.our-centre-text {
			top: 30% !important;
			left: 16% !important
		}

		.our-centre-text p {
			font-size: 18px !important
		}

		.stay-AC-know-more-btn {
			margin-top: -3%;
			margin-left: -73%
		}

		.contact {
			padding-top: 22%
		}
	}

	@media screen and (max-width:1024px) {
		.container {
			max-width: 920px
		}

		.call-us {
			font-size: 14px;
			padding-top: 1.2%
		}

		.btn.btn-info {
			font-size: 14px;
			margin-top: 5%
		}

		.fixed-top {
			top: 48px
		}

		.preschool-subdesc {
			font-size: 14px
		}

		.toddle-list {
			font-size: 15px
		}

		.frmm::-webkit-input-placeholder {
			font-size: 12px
		}

		.toddler-para {
			font-size: 15px
		}

		.time-line-caption {
			font-size: 32px !important
		}

		.nav-link {
			font-size: 13px !important
		}

		.home-caption h1 {
			font-size: 60px !important
		}

		.dropdown-subitem {
			font-size: 11px !important;
			line-height: 230% !important
		}

		.home-caption p {
			font-size: 22px !important;
			padding-bottom: 5% !important
		}

		.home-caption {
			top: 35% !important
		}

		.know-more-btn-banner {
			font-size: 13px !important
		}

		.home-school-type h2 {
			padding-top: 30% !important;
			font-size: 24px !important
		}

		.know-more-btn {
			font-size: 13px !important
		}

		.home-school-type h3 {
			padding-top: 45% !important;
			font-size: 22px !important
		}

		.know-more-btn-div {
			font-size: 13px !important
		}

		.home-about-para h4 {
			font-size: 35px !important
		}

		.home-about-list {
			font-size: 17px !important
		}

		.know-more-btn-about {
			font-size: 13px !important;
			padding-left: 5% !important;
			padding-right: 5% !important
		}

		.team-title {
			font-size: 40px !important
		}

		.team-para {
			font-size: 12px !important;
			padding-bottom: 4% !important
		}

		.know-more-btn-black {
			padding: 4% !important;
			font-size: 13px !important;
			padding-left: 8% !important;
			padding-right: 8% !important
		}

		.home-testimonial .title {
			font-size: 36px !important
		}

		.testimonial p {
			font-size: 14px !important
		}

		.carousel .media img {
			width: 60px !important;
			height: 60px !important
		}

		.footer .footer-title {
			font-size: 17px !important
		}

		.footer .footer-para {
			font-size: 12px !important
		}

		.footer .footer-link {
			font-size: 11px !important
		}

		.footer .footer-time {
			font-size: 10px !important
		}

		.footer-copyright {
			font-size: 12px !important;
			padding-top: 2%
		}

		.footer-copyright a {
			font-size: 12px !important
		}

		.sumbit-btn {
			font-size: 13px !important
		}

		.text .btn-social-icon .nav-icon-space img {
			width: 20%
		}

		.know-more-btn-team {
			font-size: 10px !important
		}

		.our-centre-caption {
			font-size: 50px !important;
			top: 36% !important;
			left: 12% !important;
			line-height: 52px !important
		}

		.gallery {
			padding-top: 25%;
			padding-bottom: 5%
		}

		.our-centre-para {
			font-size: 16px !important
		}

		.our-centre-middle .our-centre-image-overlay h3 {
			font-size: 30px !important
		}

		.our-centre-middle .our-centre-image-overlay p {
			font-size: 14px !important;
			margin-top: 5% !important
		}

		.our-centre-text p {
			font-size: 16px !important
		}

		.testimonial-div .para {
			font-size: 15px !important;
			padding-top: 5% !important
		}

		.testimonial-title {
			margin-bottom: -8% !important;
			font-size: 17px !important;
			padding-top: 8% !important
		}

		.owl-theme .owl-nav.disabled+.owl-dots {
			bottom: -3% !important
		}

		.contact-lft {
			height: 600px;
			padding: 7%;
			padding-top: 16%;
			font-size: 0
		}

		.contact {
			padding-top: 28%
		}
	}

	@media screen and (max-width:800px) {
		.addmission-box {
			height: 115px;
			margin-top: 18%
		}

		#p1,
		#p2 {
			width: 28%
		}

		.container {
			max-width: 720px
		}

		.call-us {
			font-size: 13px;
			padding-top: 1.5%
		}

		.btn.btn-info {
			font-size: 12px;
			margin-top: 5%
		}

		.fixed-top {
			top: 47px
		}

		.home-about-para h4 {
			font-size: 24px !important
		}

		.nav {
			padding-top: 0 !important;
			display: block;
			text-align: center
		}

		.social {
			padding-left: 82% !important;
			margin-top: -5% !important
		}

		.nav-link {
			font-size: 16px !important
		}

		.dropdown-menu {
			top: 30%;
			left: 60%
		}

		.home-caption h1 {
			font-size: 50px !important
		}

		.home-caption {
			top: 18% !important;
			left: 15% !important
		}

		.social {
			display: none
		}

		.home-school-type h2 {
			padding-top: 40% !important;
			font-size: 22px !important
		}

		.home-school-type h3 {
			padding-top: 60% !important;
			font-size: 19px !important
		}

		.know-more-btn {
			font-size: 11px !important
		}

		.know-more-btn-div {
			font-size: 11px !important
		}

		.home-about-para h4 {
			font-size: 22px !important
		}

		.home-about-list {
			font-size: 12px !important;
			padding-top: 3% !important
		}

		.know-more-btn-about {
			font-size: 11px !important;
			padding-left: 5% !important;
			padding-right: 5% !important
		}

		.team-title {
			font-size: 30px !important
		}

		.team-para {
			font-size: 10px !important;
			padding-bottom: 0 !important
		}

		.know-more-btn-black {
			padding: 4% !important;
			font-size: 11px !important;
			padding-left: 8% !important;
			padding-right: 8% !important
		}

		.home-testimonial .title {
			font-size: 32px !important
		}

		.testimonial p {
			font-size: 13px !important
		}

		.footer .footer-title {
			font-size: 13px !important
		}

		.footer .footer-para {
			font-size: 10px !important
		}

		.footer .footer-link {
			font-size: 10px !important
		}

		.footer .footer-time {
			font-size: 8px !important
		}

		.sumbit-btn {
			font-size: 11px !important
		}

		.footer img {
			margin-top: -3% !important
		}

		.our-centre-caption {
			font-size: 45px !important;
			top: 13% !important;
			left: 12% !important;
			line-height: 50px !important
		}

		.our-centre-para {
			font-size: 15px !important
		}

		.our-centre-middle .title {
			font-size: 17px !important
		}

		.our-centre-middle .our-centre-image-overlay h3 {
			font-size: 28px !important
		}

		.our-centre-middle .our-centre-image-overlay p {
			font-size: 12px !important;
			margin-top: 5% !important
		}

		.our-centre-text p {
			font-size: 13px !important
		}

		.our-centre-text img {
			padding: 7% !important;
			padding-top: 2% !important;
			width: 22% !important
		}

		.our-centre-caption {
			font-size: 40px !important;
			top: 16% !important;
			left: 12% !important;
			line-height: 50px !important
		}

		.our-centre-para {
			font-size: 14px !important
		}

		.our-centre-middle .title {
			font-size: 16px !important
		}

		.our-centre-middle .our-centre-image-overlay h3 {
			font-size: 24px !important
		}

		.our-centre-text p {
			font-size: 12px !important
		}

		.testimonial-div .para {
			font-size: 20px !important;
			padding-top: 5% !important
		}

		.testimonial-title {
			margin-bottom: -4% !important;
			font-size: 21px !important;
			padding-top: 3% !important
		}

		.gallery {
			padding-top: 33%;
			padding-bottom: 5%
		}

		.contact-lft {
			height: 600px;
			padding: 7%;
			padding-top: 9%;
			font-size: 0
		}

		.contact {
			padding-top: 30%;
			padding-bottom: 0
		}
	}

	@media screen and (max-width:768px) {
		.navbar-brand img {
			width: 55%
		}

		.frmm::-webkit-input-placeholder {
			font-size: 10px
		}

		.container {
			max-width: 680px
		}

		.our-centre-caption {
			font-size: 40px !important;
			top: 19% !important;
			left: 12% !important;
			line-height: 40px !important
		}

		.our-centre-middle .our-centre-image-overlay h3 {
			font-size: 22px !important
		}

		.home-caption {
			top: 19% !important;
			left: 15% !important
		}

		.nav-link {
			font-size: 15px !important
		}

		.social {
			padding-left: 81% !important;
			margin-top: -5% !important
		}

		.social .social-icon img {
			width: 85%
		}

		.know-more-btn-banner {
			font-size: 11px !important
		}

		.know-more-btn {
			font-size: 10px !important
		}

		.know-more-btn-div {
			font-size: 10px !important
		}

		.know-more-btn-about {
			font-size: 10px !important;
			padding-left: 5% !important;
			padding-right: 5% !important
		}

		.know-more-btn-black {
			padding: 4% !important;
			font-size: 10px !important;
			padding-left: 8% !important;
			padding-right: 8% !important
		}

		.home-about-list {
			font-size: 12px !important;
			padding-top: 3% !important;
			padding-bottom: 4% !important
		}

		.footer .footer-title {
			font-size: 12px !important
		}

		.footer .footer-para {
			font-size: 9px !important
		}

		.footer .footer-link {
			font-size: 7px !important
		}

		.footer .footer-time {
			font-size: 7px !important
		}

		.footer-copyright {
			font-size: 10px !important;
			padding-top: 2%
		}

		.footer-copyright a {
			font-size: 10px !important
		}

		.sumbit-btn {
			font-size: 10px !important
		}

		.text .btn-social-icon .nav-icon-space img {
			width: 19%
		}

		.text {
			font-size: 11px !important;
			top: 55% !important;
			left: 49% !important
		}

		.know-more-btn-team {
			font-size: 6px !important
		}
	}

	@media screen and (max-width:480px) {
		.call-icon {
			margin-right: 2%;
			padding-top: 2%
		}

		.call-us {
			font-size:8px;
			/*font-size: 13px;*/
			padding-top: 3%
		}

		.navbar-brand img {
			width: 75%
		}

		.container {
			max-width: 430px
		}

		#timeline .timeline-badge {
			display: none
		}

		.share-your-story-heading {
			font-size: 26px !important
		}

		.share-your-story-para {
			font-family: barlowregular;
			font-size: 16px !important
		}

		.share-your-story-form {
			padding-left: 5% !important
		}

		.frm-testi {
			width: 92% !important;
			margin-top: 3% !important
		}

		.nav {
			display: block;
			line-height: 30px
		}

		.dropdown-subitem {
			font-size: 13px !important;
			line-height: 230% !important
		}

		#timeline .timeline-movement .timeline-item .timeline-panel.debits .timeline-panel-ul .righting-wrap {
			padding: 0
		}

		#timeline {
			margin: 0 auto
		}

		.social {
			display: none
		}

		.nav-link {
			font-size: 16px !important
		}

		.dropdown-item {
			font-size: 14px !important;
			line-height: 242% !important
		}

		.dropdown-menu {
			top: 73%;
			left: 25%
		}

		#about-eight,
		#about-five,
		#about-four,
		#about-one,
		#about-seven,
		#about-six,
		#about-three,
		#about-two,
		#inside1,
		#inside2,
		#one,
		#three,
		#two {
			display: block
		}

		.home-caption {
			top: 43% !important;
			left: 3% !important
		}

		.home-caption h1 {
			font-size: 50px !important
		}

		.navbar-brand {
			width: 17%
		}

		.home-caption p {
			font-size: 16px !important;
			padding-bottom: 3% !important
		}

		.know-more-btn-banner {
			font-size: 16px !important;
			padding: 2.5% !important;
			padding-left: 5% !important;
			padding-right: 5% !important;
			margin-left: 32%
		}

		.home-school-type h2 {
			padding-top: 30% !important;
			font-size: 32px !important
		}

		.know-more-btn {
			font-size: 16px !important;
			padding: 3% !important;
			margin-left: 32%
		}

		.home-school-type h3 {
			padding-top: 30% !important;
			font-size: 32px !important
		}

		.know-more-btn-div {
			font-size: 15px !important
		}

		.home-about-para {
			padding: 10% !important
		}

		.home-about-para h4 {
			font-size: 40px !important
		}

		.home-about-list {
			font-size: 19px !important;
			padding-top: 3% !important;
			padding-bottom: 4% !important
		}

		.know-more-btn-about {
			font-size: 16px !important;
			padding-left: 5% !important;
			padding-right: 5% !important
		}

		.team-title {
			font-size: 40px !important
		}

		.team-para {
			font-size: 18px !important;
			padding-bottom: 5% !important
		}

		.know-more-btn-black {
			padding: 4% !important;
			font-size: 14px !important;
			padding-left: 8% !important;
			padding-right: 8% !important
		}

		.overlay-box {
			margin-top: 5%;
			padding: 10%
		}

		.overlay {
			top: 8%;
			left: 10%;
			height: 84%;
			width: 80%
		}

		.text {
			font-size: 42px !important;
			top: 55% !important;
			left: 49% !important;
			width: 50%
		}

		.btn-social-icon {
			margin-bottom: 10% !important
		}

		.know-more-btn-team {
			font-size: 15px !important
		}

		.home-testimonial .title {
			font-size: 30px !important
		}

		.testimonial p {
			font-size: 16px !important;
			text-align: center;
			padding-top: 4% !important
		}

		.carousel .item {
			min-height: 430px !important
		}

		.footer img {
			margin-top: -20% !important;
			padding-left: 36%;
			padding-bottom: 10%
		}

		.footer .footer-title {
			font-size: 25px !important;
			padding-bottom: 0 !important;
			margin-top: 2% !important;
			margin-left: -3% !important
		}

		.footer .footer-para {
			font-size: 16px !important;
			margin-left: -3% !important
		}

		.footer .footer-link {
			font-size: 14px !important;
			border-right: 0;
			padding-right: 2%;
			margin-left: 0;
			display: inline;
			width: 44%;
			float: left
		}

		.footer-copyright {
			font-size: 15px !important;
			padding-top: 5%
		}

		.footer-copyright a {
			font-size: 16px !important
		}

		.logo-footer {
			display: none
		}

		.footer-hr {
			display: inline-block;
			border-top: none !important;
			padding-bottom: 5%;
			display: none
		}

		.rght-brdr {
			border-right: none !important
		}

		.media {
			display: block !important
		}

		.media-left {
			margin-left: 40% !important
		}

		.carousel .media img {
			width: 80px !important;
			height: 80px !important;
			margin-bottom: 10% !important
		}

		.our-centre-caption {
			font-size: 45px !important;
			top: 52% !important;
			left: 1% !important;
			line-height: 50px !important
		}

		.our-centre-para {
			font-size: 18px !important;
			text-align: left !important;
			margin-top: 5%;
			padding-left: 6%;
			padding-right: 7%
		}

		.our-centre-middle .title {
			font-size: 18px !important
		}

		.our-centre-middle .our-centre-image-overlay h3 {
			font-size: 25px !important
		}

		.our-centre-middle .our-centre-image-overlay p {
			font-size: 12px !important;
			margin-top: 5% !important
		}

		.our-centre-middle .our-centre-image {
			width: 98% !important;
			padding-top: 12% !important;
			padding-right: 0 !important;
			height: 96% !important;
			margin-left: -4% !important
		}

		.our-centre-text p {
			font-size: 17px !important
		}

		.our-centre-text {
			top: 28% !important;
			left: 9% !important
		}

		.mb-view {
			width: 33%;
			float: left;
			padding-left: 0;
			padding-right: 2%
		}

		.rft-img {
			padding: 0 !important;
			padding-bottom: 10% !important;
			padding-top: 0 !important
		}

		.our-centre-middle .our-centre-image-overlay {
			width: 60% !important
		}

		.our-centre-text p {
			font-size: 14px !important;
			width: 80% !important;
			text-align: center
		}

		.our-centre-text img {
			display: none
		}

		.testimonial-div .para {
			font-size: 17px !important;
			padding-top: 1% !important
		}

		.testimonial-title {
			margin-bottom: -4% !important;
			font-size: 20px !important;
			padding-top: 4% !important
		}

		.owl-theme .owl-nav.disabled+.owl-dots {
			display: none
		}

		#timeline .timeline-movement .timeline-item .timeline-panel.debits .timeline-panel-ul .righting-wrap {
			padding: 0 !important
		}

		.preschool-subdesc {
			padding-left: 0;
			padding-right: 0
		}

		.contact-lft {
			height: 629px;
			padding: 26%;
			padding-top: 23%;
			font-size: 0;
			margin-top: 10%
		}

		.contact-info {
			font-size: 18px
		}

		.connact-rft {
			width: 88%;
			margin-left: 10%;
			margin-top: 10%;
			margin-bottom: 10%;
			margin-right: 10%
		}

		.stay-AC-know-more-btn {
			margin-top: 4%;
			margin-left: -72%;
			font-size: 16px
		}

		.gallery {
			padding-top: 40%;
			padding-bottom: 5%
		}

		.contact {
			padding-top: 38%;
			padding-bottom: 0;
			padding-left: 5%;
			padding-right: 5%
		}
	}

	@media screen and (max-width:414px) {
		.container {
			max-width: 380px
		}

		.call-us {
			font-size: 12px;
			padding-top: 3%
		}

		.btn.btn-info {
			font-size: 11px;
			margin-top: 5%
		}

		.fixed-top {
			top: 45px
		}

		.nav-link {
			font-size: 16px !important
		}

		.dropdown-item {
			font-size: 13px !important;
			line-height: 250% !important
		}

		.home-caption h1 {
			font-size: 45px !important
		}

		.home-caption p {
			font-size: 15px !important;
			padding-bottom: 3% !important
		}

		.know-more-btn-banner {
			font-size: 15px !important;
			padding: 2.5% !important;
			padding-left: 5% !important;
			padding-right: 5% !important
		}

		.home-caption {
			top: 45% !important;
			left: 0 !important
		}

		.home-about-para h4 {
			font-size: 36px !important
		}

		.home-about-list {
			font-size: 17px !important;
			padding-top: 3% !important;
			padding-bottom: 4% !important
		}

		.know-more-btn {
			font-size: 14px !important;
			padding: 3% !important
		}

		.know-more-btn-about {
			font-size: 14px !important;
			padding-left: 5% !important;
			padding-right: 5% !important
		}

		.logo-footer {
			display: none
		}

		.team-title {
			font-size: 38px !important
		}

		.team-para {
			font-size: 16px !important;
			padding-bottom: 5% !important
		}

		.know-more-btn-black {
			padding: 3% !important;
			font-size: 14px !important;
			padding-left: 6% !important;
			padding-right: 6% !important
		}

		.know-more-btn-team {
			font-size: 15px !important
		}

		.home-testimonial .title {
			font-size: 26px !important;
			padding-top: 5% !important
		}

		.carousel .item {
			min-height: 440px !important
		}

		.testimonial p {
			font-size: 16px !important
		}

		.footer .footer-title {
			font-size: 23px !important;
			padding-bottom: 0 !important;
			margin-top: 2% !important
		}

		.footer .footer-para {
			font-size: 15px !important
		}

		.footer .footer-link {
			font-size: 13px !important;
			border-right: 0 solid #000;
			padding-right: 2%;
			margin-left: 0
		}

		.footer-copyright {
			font-size: 13px !important;
			padding-top: 10%
		}

		.footer-copyright a {
			font-size: 14px !important
		}

		.our-centre-caption {
			font-size: 40px !important;
			top: 51% !important;
			left: 0 !important;
			line-height: 50px !important
		}

		.our-centre-para {
			font-size: 16px !important;
			text-align: left !important;
			margin-top: 5%;
			padding-left: 10%;
			padding-right: 7%
		}

		.our-centre-middle .title {
			font-size: 16px !important
		}

		.our-centre-middle .our-centre-image-overlay h3 {
			font-size: 23px !important
		}

		.our-centre-text {
			top: 28% !important;
			left: 5% !important
		}

		.our-centre-text p {
			font-size: 13px !important
		}

		.testimonial-div .para {
			font-size: 16px !important;
			padding-top: 1% !important
		}

		.testimonial-title {
			margin-bottom: -8% !important;
			font-size: 18px !important;
			padding-top: 7% !important
		}

		.owl-theme .owl-nav.disabled+.owl-dots {
			bottom: -2% !important;
			left: 29% !important
		}

		.owl-theme .owl-nav.disabled+.owl-dots {
			bottom: -2% !important;
			left: 29% !important
		}

		.testimonial-title {
			margin-bottom: -8% !important;
			font-size: 17px !important;
			padding-top: 7% !important
		}

		.contact-info {
			font-size: 16px
		}

		.gallery {
			padding-top: 45%;
			padding-bottom: 5%
		}

		.accordion {
			font-size: 16px;
			margin-bottom: 2%
		}

		.contact {
			padding-top: 30%;
			padding-bottom: 0;
			padding-left: 6%;
			padding-right: 6%
		}

		.contact .accordion {
			font-size: 14px;
			margin-bottom: 2%
		}

		.contact-lft {
			height: 629px;
			padding: 21%;
			padding-top: 30%;
			font-size: 0;
			margin-top: 10%
		}
	}

	@media screen and (max-width:412px) {
		.nav-link {
			font-size: 17px !important
		}

		.testimonial p {
			font-size: 15px !important
		}

		.footer .footer-title {
			font-size: 22px !important;
			padding-bottom: 0 !important;
			margin-top: 2% !important
		}

		.footer .footer-para {
			font-size: 14px !important
		}

		.know-more-btn-banner {
			font-size: 12px !important;
			padding: 2.5% !important;
			padding-left: 5% !important;
			padding-right: 5% !important
		}

		.know-more-btn {
			font-size: 12px !important;
			padding: 3% !important
		}

		.know-more-btn-div {
			font-size: 13px !important
		}

		.know-more-btn-about {
			font-size: 12px !important;
			padding-left: 5% !important;
			padding-right: 5% !important
		}

		.know-more-btn-black {
			padding: 3% !important;
			font-size: 12px !important;
			padding-left: 6% !important;
			padding-right: 6% !important
		}

		.our-centre-caption {
			font-size: 33px !important;
			top: 57% !important;
			left: 0 !important;
			line-height: 40px !important
		}

		.our-centre-para {
			font-size: 15px !important;
			text-align: left !important;
			margin-top: 5%;
			padding-left: 10%;
			padding-right: 7%
		}

		.our-centre-middle .title {
			font-size: 15px !important
		}
	}

	@media screen and (max-width:384px) {
		.container {
			max-width: 340px
		}

		.call-us {
			font-size: 8px;
			padding-top: 4%
		}

		.call-icon {
			margin-right: -15%;
			padding-top: 2%;
			width: 21%
		}

		.btn.btn-info {
			font-size: 10px;
			margin-top: 6%
		}

		.home-caption h1 {
			font-size: 40px !important
		}

		.nav-link {
			font-size: 14px !important;
			line-height: 18px
		}

		.dropdown-item {
			font-size: 12px !important;
			line-height: 30px !important
		}

		.dropdown-menu {
			top: 73%;
			left: 11%
		}

		.card-title {
			font-size: 20px
		}

		#timeline .righting-wrap li strong {
			font-size: 16px
		}

		.causale {
			font-size: 14px
		}

		.gallery {
			padding-top: 45%;
			padding-bottom: 5%
		}

		.home-caption {
			top: 47% !important;
			left: 3% !important
		}

		.home-caption p {
			font-size: 14px !important;
			padding-bottom: 3% !important
		}

		.know-more-btn-banner {
			font-size: 11px !important;
			padding: 2.5% !important;
			padding-left: 5% !important;
			padding-right: 5% !important
		}

		.home-school-type h2 {
			padding-top: 40% !important;
			font-size: 30px !important
		}

		.know-more-btn {
			font-size: 11px !important;
			padding: 3% !important
		}

		.home-school-type h3 {
			padding-top: 40% !important;
			font-size: 30px !important
		}

		.know-more-btn-div {
			font-size: 11px !important
		}

		.home-about-para h4 {
			font-size: 34px !important
		}

		.home-about-list {
			font-size: 16px !important;
			padding-top: 3% !important;
			padding-bottom: 4% !important
		}

		.know-more-btn-about {
			font-size: 11px !important;
			padding-left: 5% !important;
			padding-right: 5% !important
		}

		.team-title {
			font-size: 36px !important
		}

		.team-para {
			font-size: 15px !important;
			padding-bottom: 5% !important
		}

		.know-more-btn-black {
			padding: 3% !important;
			font-size: 11px !important;
			padding-left: 6% !important;
			padding-right: 6% !important
		}

		.know-more-btn-team {
			font-size: 12px !important
		}

		.our-centre-caption {
			font-size: 30px !important;
			top: 57% !important;
			left: 0 !important;
			line-height: 38px !important
		}

		.our-centre-para {
			font-size: 14px !important;
			text-align: left !important;
			margin-top: 5%;
			padding-left: 10%;
			padding-right: 7%
		}

		.our-centre-middle .our-centre-image-overlay h3 {
			font-size: 21px !important
		}

		.our-centre-middle .our-centre-image-overlay p {
			font-size: 11px !important;
			margin-top: 5% !important
		}

		.our-centre-text p {
			font-size: 12px !important
		}

		.footer .footer-link {
			font-size: 11px !important;
			border-right: 0 solid #000;
			padding-right: 2%;
			margin-left: 0
		}

		.testimonial-title {
			margin-bottom: -8% !important;
			font-size: 17px !important;
			padding-top: 7% !important
		}

		.owl-theme .owl-nav.disabled+.owl-dots {
			bottom: -4% !important;
			left: 26% !important
		}

		.contact-lft {
			height: 524px;
			padding: 26%;
			padding-top: 20%;
			font-size: 0
		}

		.contact-info {
			font-size: 14px
		}

		.contact {
			padding-top: 30%;
			padding-bottom: 0
		}

		.contact .accordion {
			font-size: 13px;
			margin-bottom: 2%
		}
	}

	@media screen and (max-width:375px) {
		.footer .footer-link {
			padding-right: 2%;
			margin-left: -1%
		}
	}

	@media screen and (max-width:360px) {
		.container {
			max-width: 325px
		}

		.preschool-subdesc {
			font-size: 12px
		}

		.footer .footer-link {
			font-size: 14px !important;
			border-right: 1px solid #000;
			padding-right: 2%;
			margin-left: 0
		}

		.home-caption {
			top: 48% !important;
			left: 0 !important
		}

		.stay-AC-know-more-btn {
			margin-top: 4%;
			margin-left: -67%;
			font-size: 14px
		}

		.home-school-type h2 {
			padding-top: 40% !important;
			font-size: 28px !important
		}

		.home-school-type h3 {
			padding-top: 40% !important;
			font-size: 28px !important
		}

		.team-para {
			font-size: 14px !important;
			padding-bottom: 5% !important
		}

		.home-testimonial .title {
			font-size: 24px !important;
			padding-top: 5% !important
		}

		.testimonial p {
			font-size: 14px !important
		}

		.our-centre-caption {
			font-size: 27px !important;
			top: 55% !important;
			left: 0 !important;
			line-height: 38px !important;
			padding-left: 3%;
			padding-right: 3%
		}

		.our-centre-middle .our-centre-image-overlay h3 {
			font-size: 20px !important
		}

		.our-centre-middle .our-centre-image-overlay p {
			font-size: 10px !important;
			margin-top: 5% !important
		}

		.footer .footer-link {
			font-size: 11px !important;
			border-right: 0 solid #000;
			padding-right: 2%;
			margin-left: 0
		}

		.footer .footer-para {
			font-size: 12px !important
		}

		.our-centre-text p {
			font-size: 11px !important
		}

		.footer-copyright {
			font-size: 11px !important;
			padding-top: 10%
		}

		.footer-copyright a {
			font-size: 12px !important
		}

		.footer .footer-title {
			font-size: 20px !important;
			padding-bottom: 0 !important;
			margin-top: 2% !important
		}

		.carousel .item {
			min-height: 455px !important
		}

		.testimonial-div .para {
			font-size: 15px !important;
			padding-top: 2% !important
		}

		.table {
			margin-left: -5%
		}

		tbody {
			font-size: 15px
		}
	}

	@media screen and (max-width:320px) {
		.container {
			max-width: 290px
		}

		.call-us {
			font-size: 8px;
			padding-top: 5%
		}

		.call-icon {
			margin-right: -14%;
			padding-top: 2%;
			width: 19%
		}

		.btn.btn-info {
			font-size: 8px;
			margin-top: 6%
		}

		.fixed-top {
			top: 42px
		}

		.nav-link {
			font-size: 13px !important;
			line-height: 18px
		}

		.dropdown-item {
			font-size: 11px !important;
			line-height: 250% !important
		}

		.dropdown-subitem {
			font-size: 10px !important;
			line-height: 230% !important
		}

		.home-caption h1 {
			font-size: 38px !important
		}

		.home-caption {
			top: 40% !important;
			left: 0 !important
		}

		.home-school-type h2 {
			padding-top: 40% !important;
			font-size: 26px !important
		}

		.know-more-btn {
			font-size: 10px !important;
			padding: 3% !important
		}

		.home-school-type h3 {
			padding-top: 45% !important;
			font-size: 25px !important
		}

		.know-more-btn-div {
			font-size: 10px !important
		}

		.team-title {
			font-size: 34px !important
		}

		.team-para {
			font-size: 13px !important;
			padding-bottom: 5% !important
		}

		.text {
			font-size: 30px !important;
			top: 55% !important;
			left: 49% !important
		}

		.footer .footer-para {
			font-size: 11px !important
		}

		.footer .footer-link {
			font-size: 9px !important;
			border-right: 0 solid #000;
			padding-right: 6%;
			margin-left: 0
		}

		.footer .footer-title {
			font-size: 18px !important;
			padding-bottom: 0 !important;
			margin-top: 2% !important
		}

		.footer-copyright {
			font-size: 12px !important;
			padding-top: 10%
		}

		.footer-copyright a {
			font-size: 12px !important
		}

		.home-testimonial .title {
			font-size: 22px !important;
			padding-top: 5% !important
		}

		.media-left {
			margin-left: 35% !important
		}

		.carousel .item {
			min-height: 470px !important
		}

		.our-centre-middle .our-centre-image-overlay h3 {
			font-size: 18px !important
		}

		.our-centre-middle .our-centre-image-overlay p {
			font-size: 8px !important;
			margin-top: 5% !important
		}

		.our-centre-text p {
			font-size: 9px !important
		}

		.our-centre-middle .our-centre-image {
			width: 98% !important;
			padding-top: 12% !important;
			padding-right: 0 !important;
			height: 96% !important;
			margin-left: -5% !important
		}

		.testimonial-div .para {
			font-size: 14px !important;
			padding-top: 2% !important
		}

		.testimonial-title {
			margin-bottom: -8% !important;
			font-size: 16px !important;
			padding-top: 7% !important
		}

		.owl-theme .owl-nav.disabled+.owl-dots {
			bottom: -5% !important;
			left: 21% !important
		}

		.contact-lft {
			height: 450px;
			padding: 25%;
			padding-top: 20%;
			font-size: 0
		}

		.connect-title {
			font-size: 24px
		}

		.connect-subtitle {
			font-family: montserratsemi_bold;
			font-size: 16px;
			margin-bottom: 8%;
			margin-top: 0
		}

		.contact-info {
			font-size: 13px
		}

		.contact {
			padding-top: 30%;
			padding-bottom: 0
		}
	}
}