@charset "utf-8";

.benefits-organisation2 li {
	font-family: 'barlowregular';
	list-style: none;
	font-size: 22px;
	color: #000;
	text-align: center
}

.benefits-organisation {
	background-image: url(../../images/programmes/early-intervention-center-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: -1.5%
}

.benefits-organisation2 p {
	font-family: 'barlowregular';
	font-size: 18px;
	text-align: left;
	padding-left: 0%;
	padding-right: 0%;
	line-height: 30px;
	padding-bottom: 3%;
	padding-top: 0%
}

.before-after-heading {
	color: #fff;
	font-family: 'barlow_semiboldregular';
	font-size: 26px
}

.mission-sp {
	padding-top: 10%;
	padding-bottom: 3%
}

.mission {
	margin-top: 0%
}

.mission-point {
	font-size: 18px
}

.benefits-organisation2 p {
	text-align: left !important;
	padding-left: 0% !important;
	padding-right: 0% !important;
	line-height: 30px;
	padding-bottom: 3%;
	padding-top: 2%
}

.benefits-organisation2 {
	padding-top: 10%
}

.benefits-organisation ul {
	padding-top: 2%;
	padding-bottom: 10%;
	padding-left: 15%;
	padding-right: 15%
}

.violet-rect {
	left: 90%;
	top: -8%  
}

.questions-ans {
	padding-top: 5%
}

.questions-ans h3 {
	font-family: 'barlow_semiboldregular';
	font-size: 40px;
	text-align: center;
	padding-top: 3%;
	padding-bottom: 5%;
	color: #273684
}

.panel ul li,
.panel p {
	color: #000;
	font-family: 'barlowregular'
}

.panel ul {
	padding-left: 5%
}

.centers .centers-address {
	font-size: 18px;
	top: 65%;
	left: 5%
}

.centers .centers-name {
	text-align: left
}

.top-padd {
	padding-top: 5%
}

/*10-05-2023*/

.vl {
	/*border-right: 1.5px solid #70707038;*/
	height: 170px
}
/*10-05-2023*/
@media screen and (max-width:2560px) {
	.employer-data {
		top: 50%;
		left: 37%
	}

	.mission {
		margin-top: 4%;
		font-size: 28px
	}

	.mission-point {
		font-size: 24px;
		padding-top: 1%
	}

	.before-after-heading {
		font-size: 28px
	}

	.benefits-organisation2 p {
		font-size: 24px;
		line-height: 45px;
		margin-top: -3%
	}
}

@media screen and (max-width:1920px) {
	.employer-data {
		top: 50%;
		left: 45%
	}

	.panel ul li,
	.panel p {
		font-size: 19px
	}

	.mission-point {
		font-size: 24px;
		padding-top: 2%
	}
}

@media screen and (max-width:1600px) {
	.employer-data {
		top: 60%;
		left: 45%;
		padding-top: 3%;
		padding-bottom: 2%
	}

	.mission {
		margin-top: 4%;
		font-size: 25px;
		margin-bottom: 6%
	}

	.mission-point {
		font-size: 21px
	}

	.benefits-organisation2 p {
		font-size: 21px;
		line-height: 42px;
		padding-top: 2%
	}

	.employer-data p {
		font-size: 20px !important;
		line-height: 35px
	}

	.questions-ans {
		padding-top: 0%;
		margin-top: -3%
	}
}

@media screen and (max-width:1440px) {
	.employer-data {
		top: 65%;
		left: 42%
	}

	.mission {
		margin-top: 4%;
		font-size: 20px
	}

	.before-after-heading {
		font-size: 22px
	}

	.mission-point {
		font-size: 18px;
		margin-top: -1%
	}

	.benefits-organisation2 p {
		font-size: 18px;
		line-height: 26px;
		padding-top: 4%
	}

	.mission-sp {
		padding-top: 18%;
		padding-bottom: 3%
	}

	.employer-data p {
		font-size: 17px !important;
		line-height: 29px
	}

	.panel ul li,
	.panel p {
		font-size: 16px
	}
}

@media screen and (max-height:1024px) and (max-width:1280px) {
	.employer-data {
		top: 50%;
		left: 42%
	}

	.questions-ans h3 {
		font-size: 38px
	}
}

@media screen and (max-height:610px) and (max-width:1280px) {
	.mission-sp {
		padding-top: 18%;
		padding-bottom: 0%
	}

	.mission-point {
		font-size: 18px;
		margin-top: 0%
	}
}

@media screen and (max-width:1024px) {
	.questions-ans h3 {
		font-size: 40px;
		padding-top: 0%;
		padding-bottom: 5%
	}

	.benefits-organisation2 li {
		font-size: 19px
	}

	.employer-data p {
		font-size: 16px !important;
		line-height: 27px
	}

	.mission-point {
		font-size: 16px;
		margin-top: 1%
	}

	.benefits-organisation2 p {
		font-size: 16px;
		line-height: 26px;
		padding-top: 4%
	}
}

@media screen and (max-width:800px) {
	.early-img {
		visibility: visible !important
	}

	.preschool-row {
		padding-top: 5% !important
	}

	.employer-data {
		top: 35%;
		left: 38%;
		width: 56%
	}

	.mission-sp {
		padding-top: 40%;
		padding-bottom: 3%
	}
}

@media screen and (max-width:768px) {
	.employer-data {
		top: 38%;
		left: 37%;
		width: 58%;
		padding: 4%
	}

	.mission-point {
		font-size: 14px
	}
}

@media screen and (max-width:480px) {
	.employer-data {
		top: 20%;
		left: 37%;
		width: 100%;
		padding: 5%
	}

	.mission-sp {
		padding-top: 0%;
		margin-top: -7%;
		margin-bottom: 12%
	}

	.vl {
		border-right: 0 solid #70707038;
		height: 170px
	}

	.vision {
		width: 106%;
		padding-left: 6%;
		margin-left: -3%;
		margin-bottom: -24%;
		margin-top: 10%
	}

	.centers .centers-name {
		font-size: 18px;
		margin-bottom: 0%
	}

	.vl {
		border-right: 0 solid #70707038;
		height: auto !important
	}

	.team-designation {
		font-size: 16px
	}

	.benefits-organisation2 p {
		font-size: 17px
	}

	.mission-point {
		font-size: 17px;
		line-height: 20px;
		margin-top: -6%;
		margin-left: 10%
	}

	.questions-ans h3 {
		font-size: 29px;
		padding-top: 5%;
		padding-bottom: 3%
	}
}

@media screen and (max-width:414px) {
	.mission-point {
		font-size: 16px;
		line-height: 20px;
		margin-top: -8%;
		margin-left: 10%
	}

	.benefits-organisation2 p {
		font-size: 16px;
		padding-top: 0%;
		margin-top: -6%
	}

	.questions-ans h3 {
		font-size: 29px;
		padding-top: 20%;
		padding-bottom: 3%
	}

	.panel ul li,
	.panel p {
		font-size: 15px
	}
}

@media screen and (max-width:412px) {
	.employer-partnership h2 {
		font-size: 34px;
		padding-top: 42%
	}
}

@media screen and (max-width:384px) {
	.employer-partnership h2 {
		font-size: 30px;
		padding-top: 50%
	}

	.mission-point {
		font-size: 16px;
		line-height: 20px;
		margin-top: -9%;
		margin-left: 10%
	}

	.before-after-heading {
		font-size: 21px
	}

	.questions-ans h3 {
		font-size: 22px;
		padding-top: 18%;
		padding-bottom: 3%
	}

	.centers .centers-name {
		font-size: 16px;
		margin-bottom: 0%
	}

	.team-designation {
		font-size: 14px
	}
}

@media screen and (max-width:360px) {
	.employer-data p {
		font-size: 14px !important;
		line-height: 20px
	}

	.mission-point {
		font-size: 15px;
		line-height: 20px;
		margin-top: -9%;
		margin-left: 10%
	}
}

@media screen and (max-width:320px) {
	.benefits-organisation2 li {
		font-size: 15px
	}

	.mission-point {
		font-size: 15px;
		line-height: 20px;
		margin-top: -7%;
		margin-left: 10%
	}
}