@charset "utf-8";

.actop{
	margin-top: -8%;
}

#about-one,
#about-two,
#about-three,
#about-four,
#about-five,
#about-six {
	display: none;
	margin-top: -1%;
	padding: 0%;
	border-bottom: 1px solid #eee;
	margin-bottom: 5%
}

#about-seven {
	display: none;
	margin-top: 5%;
	padding: 0%;
	border-bottom: 1px solid #eee
}

#about-eight {
	display: none;
	margin-top: -9%;
	padding: 0%;
	border-bottom: 1px solid #eee;
	margin-bottom: -1%
}

#about1,
#about2 {
	margin-top: 0%;
	margin-bottom: 5%
}

#about3 {
	margin-top: -5%;
	margin-bottom: 0%
}

.no-padd {
	padding-left: 0%;
	padding-right: 0%
}

.who-we-are-caption {
	color: #fff;
	text-align: center;
	font-family: 'barlow_semiboldregular';
	font-size: 58px;
	position: absolute;
	top: 40%;
	left: 23%;
	line-height: 70px;
	text-shadow: 1px 1px #000
}

.who-we-are-subcaption {
	color: #fff;
	text-align: center;
	font-family: 'barlowregular';
	font-size: 20px;
	position: absolute;
	top: 46%;
	left: 29%;
	line-height: 70px;
	text-shadow: 1px 1px #000
}

.who-we-are-heading {
	font-family: 'barlow_semiboldregular';
	font-size: 35px;
	color: #273684;
	text-align: center;
	padding-top: 5%
}

.who-we-are-subheading {
	font-family: 'barlow_semiboldregular';
	font-size: 30px;
	color: #273684;
	text-align: center;
	padding-top: 2%
}

.who-we-are-para {
	font-family: 'barlowregular';
	font-size: 20px;
	text-align: center;
	padding-left: 9%;
	padding-right: 9%
}

.mission {
	background-image: url(../../images/about/who-we-are/mission-img.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	color: #fff;
	padding: 3%;
	margin-top: 3%;
	margin-bottom: 10%;
	font-family: 'barlowregular'
}

.mission-heading {
	color: #fff;
	font-family: 'barlow_semiboldregular';
	font-size: 35px
}

.mission-sp {
	padding-left: 10%;
	padding-right: 10%
}

.mission-point {
	font-family: 'barlowregular';
	font-size: 16px
}

.vision {
	background-image: url(../../images/about/who-we-are/vision.png);
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
	color: #fff;
	padding: 3%;
	margin-top: 10%;
	margin-left: 7%;
	margin-bottom: 10%;
	padding-left: 7%
}

.vision-heading {
	color: #fff;
	font-family: 'barlow_semiboldregular';
	font-size: 35px
}

.vision-sp {
	padding-left: 10%;
	padding-right: 10%
}

.vision-para {
	font-family: 'barlowregular';
	font-size: 16px;
	padding-left: 0% !important;
	padding: 7%;
	padding-top: 0%
}

.enquire-us-btn {
	font-family: 'barlow_semiboldregular';
	font-size: 18px;
	padding: 4%;
	color: #000;
	border: 1px solid #000;
	border-radius: 2px;
	padding-left: 12%;
	padding-right: 12%;
	margin-left: 7%;
	text-transform: uppercase
}

.awards {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 8%;
	padding-bottom: 8%
}

.awards-heading {
	font-family: 'barlowbold';
	font-size: 30px;
	text-align: center;
	padding-top: 15%;
	color: #273684
}

.awards-para {
	padding-left: 15%;
	padding-right: 15%;
	font-family: 'barlowregular';
	font-size: 16px;
	text-align: center
}

.careers {
	padding-top: 10%;
	padding-bottom: 7%
}

.careers-heading {
	font-family: 'barlowbold';
	font-size: 35px;
	text-align: center;
	margin-bottom: .5%;
	color: #273684
}

.careers-subheading {
	font-family: 'barlow_semiboldregular';
	font-size: 25px;
	text-align: center;
	padding-top: 0%
}

.careers-para {
	padding-left: 16%;
	padding-right: 16%;
	font-family: 'barlowregular';
	font-size: 16px;
	text-align: center
}

.current-openings-heading {
	color: #FF8205;
	font-family: 'barlowbold';
	font-size: 35px;
	text-align: center;
	padding-top: 4%;
	padding-bottom: 2%
}

.current-openings-div {
	background-color: #F2F2F2;
	border-bottom-right-radius: 120px;
	-webkit-box-shadow: 10px 10px 32px -8px rgba(176, 176, 176, 1);
	-moz-box-shadow: 10px 10px 32px -8px rgba(176, 176, 176, 1);
	box-shadow: 10px 10px 32px -8px rgba(176, 176, 176, 1)
}

.current-openings-subheading01 {
	font-family: 'barlow_semiboldregular';
	font-size: 18px;
	padding: 3%;
	background: #1020E0
}

.current-openings-subheading02 {
	font-family: 'barlow_semiboldregular';
	font-size: 18px;
	padding: 3%;
	background: #7810E0
}

.current-openings {
	padding-left: 10%;
	padding-right: 10%;
	color: #fff
}

.opening {
	background-color: #EBEBEB;
	margin-bottom: -7%;
	padding-bottom: 10%
}

.current-openings-para span {
	font-family: 'barlow_semiboldregular';
	font-size: 16px;
	color: #20192B
}

.current-openings-para {
	font-family: 'barlowregular';
	font-size: 16px;
	color: #20192B;
	padding: 5%;
	padding-top: 0%
}

.leadership {
	padding-left: 10%;
	padding-right: 10%
}

.leadership-heading {
	color: #273684;
	font-family: 'barlowbold';
	font-size: 35px;
	text-align: center;
	padding-top: 18%;
	padding-bottom: 2%
}

.leadership-para {
	color: #20192B;
	font-family: 'barlowregular';
	font-size: 16px;
	text-align: center;
	padding-bottom: 2%;
	padding-left: 10%;
	padding-right: 10%
}

.leadership-div {
	background: #EFEEDE;
	padding: 7%;
	border-top-right-radius: 120px;
	margin-top: 20%;
	margin-left: -10%;
	margin-bottom: 10%;
	box-shadow: 2px 2px 21px #00000045
}

.leader-name {
	font-family: 'barlowregular';
	color: #030303;
	padding-bottom: 0%
}

.leader-pos {
	font-family: 'barlowregular';
	color: #030303
}

.comunity {
	padding-left: 10%;
	padding-right: 10%;
	padding-bottom: 5%
}

.community-service-heading {
	font-family: 'barlowbold';
	font-size: 35px;
	text-align: center;
	padding-top: 18%;
	padding-bottom: 0%;
	color: #273684
}

.community-service-para {
	color: #20192B;
	font-family: 'barlowregular';
	font-size: 16px;
	text-align: center;
	padding-left: 10%;
	padding-right: 10%;
	padding-bottom: 6%
}

.community-service-topspace {
	padding-top: 6%
}

.community-service-margin {
	margin-top: 9%
}

.community-service-div01 {
	position: absolute;
	background-color: #FFF;
	-webkit-box-shadow: -1px 2px 39px -17px rgba(0, 0, 0, .75);
	-moz-box-shadow: -1px 2px 39px -17px rgba(0, 0, 0, .75);
	box-shadow: -1px 2px 39px -17px rgba(0, 0, 0, .75);
	font-family: 'barlowregular';
	font-size: 16px;
	padding: 5%;
	right: -2%;
	z-index: 99999
}

.community-service-div02 {
	position: absolute;
	background-color: #FFF;
	-webkit-box-shadow: -1px 2px 39px -17px rgba(0, 0, 0, .75);
	-moz-box-shadow: -1px 2px 39px -17px rgba(0, 0, 0, .75);
	box-shadow: -1px 2px 39px -17px rgba(0, 0, 0, .75);
	font-family: 'barlowregular';
	font-size: 16px;
	padding: 3%;
	margin-top: 16%;
	z-index: 999
}

.comm-rft {
	margin-top: -7%
}

.childcare-advocacy {
	padding-left: 10%;
	padding-right: 10%;
	padding-bottom: 5%
}

.childcare-advocacy-title {
	color: #273684;
	font-family: 'barlowbold';
	font-size: 35px;
	text-align: center;
	padding-top: 18%;
	padding-bottom: 0%
}

.childcare-advocacy-subtitle {
	color: #20192B;
	font-family: 'barlowbold';
	font-size: 25px;
	text-align: center;
	padding-top: 5%
}

.childcare-advocacy-para {
	color: #20192B;
	font-family: 'barlowregular';
	font-size: 16px;
	text-align: center;
	padding-left: 10%;
	padding-right: 10%
}

.childcare-advocacy-list {
	color: #20192B;
	font-family: 'barlowregular';
	font-size: 16px;
	text-align: center;
	padding-right: 10%
}

.accordion {
	background-color: #eee;
	color: #444;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 15px;
	transition: 0.4s
}

.active,
.accordion:hover {
	background-color: #ccc
}

.accordion:after {
/*	content: '\002B';
	color: #777;
	font-weight: 700;
	float: right;*/
	margin-left: 5px
}

.active:after {
	content: "\2212"
}

.panel {
	padding: 0 18px;
	background-color: white;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out
}